{% extends 'top.html' %}
{% block content %}
<style type="text/css">
.cmd:focus{
    outline: none;
    border-color: #cfdc00;
    box-shadow: none;
    border-radius: 5px;
}
</style>
<script type="text/javascript">
    function search(){
        $("#searchForm").submit();
    }
    function reset1(){
        $('#searchForm input[type=text]').val("");
        $('#searchForm select>option:first').prop('selected', 'selected');
    }
    $(function () {
        $("#type").val('{{ form.server_type }}');
        $('#exec').on('hidden.bs.modal', function () {
            $('#exec .modal-body').html('<div class="cmddiv"><input type="text" value="" class="cmd" style="border: 0;width: 80%;height: 30px;" onkeypress="exex()"></div>');
            $.ajax({
                url: "/close",
                type: "get",
                success:function(data){
                }
            });
        });

    })

    function showmo() {
        $('#exec').modal('show');
        $(".cmddiv:last>input").val("连接中.....");
        $.ajax({
            url: "/connect1",
            type: "get",
            success:function(data){
                $(".cmddiv:last").prepend(data.replace(/\b\r/g,"<br/>"));
                $(".cmddiv:last>input").val("");
                $(".cmddiv:last>input").focus();
            }
        });
    }
    // 提交表单
    function check_form(){
        var form_data = $('#form_data').serialize();
        $.ajax({
            url: "/addServer",
            data:form_data,
            type: "post",
            success:function(data){
                location.reload();
            }
        });
        return false;
    }
    function exex() {
        if (event.which == 13) {
            $.ajax({
                url: "/shell",
                data:{arg:$('.cmd:last').val()},
                type: "get",
                success:function(data){
                    if(data){
                        $('#exec .modal-body').append('<pre>'+data+'</pre>');
                    }
                    $('#exec .modal-body').append($(".cmddiv").prop("outerHTML"));
                    $(".cmddiv:last>input").focus();
                }
            });
        }
    }
</script>
<div class="container">
    <form action="/" method="post" id="searchForm">
        <div class="row-fluid">
            <label class="form_label">
                IP：<input type="text" value="{{ form.ip }}" name="ip">
            </label>
            <label class="form_label">
                端口：<input type="text" value="{{ form.port }}" name="port">
            </label>
            <label class="form_label">
                类别：<select name="server_type" id="type" style="width: 60%;height: 24px;">
                <option value="">请选择</option>
                <option value="1">开发</option>
                <option value="2">测试</option>
                <option value="3">UAT</option>
                <option value="4">PRO</option>
            </select>
            </label>
            <label class="form_label">
                服务地址：<input type="text" value="{{ form.server_addr }}" name="server_addr">
            </label>
            <label>
                <button class="btn btn-sm" data-toggle="modal"  onclick="search()">搜索</button> &nbsp;&nbsp;
                <button class="btn btn-sm" data-toggle="modal"  onclick="reset1()">重置</button>
            </label>
        </div>
    </form>
    <hr>
    <button class="btn btn-primary btn-sm" data-toggle="modal"  data-target="#addUserModal">添加服务</button>
    <br/><br/>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>序号</th>
            <th>IP</th>
            <th>端口号</th>
            <th>服务地址</th>
            <th>类别</th>
            <th>描述</th>
            <th>状态</th>
            <th>创建时间</th>
            <th>创建人</th>
            <th>shell操作</th>
        </tr>
        </thead>
        {% for server in servers %}
            <tr>
                <td>{{ server.id }}</td>
                <td>{{ server.ip }}</td>
                <td>{{ server.port }}</td>
                <td>{{ server.server_addr }}</td>
                <td>
                    {% if server.server_type==1 %}
                        开发
                    {% elif server.server_type==2 %}
                        测试
                    {% elif server.server_type==3 %}
                        UAT
                    {% else %}
                        PRO
                    {% endif %}
                    </td>
                <td>{{ server.server_remark }}</td>
                <td>
                    {% if server.server_status==1 %}
                    <div style="width: 30px;height: 12px;background-color: green"></div>
                    {% else %}
                    <div style="width: 30px;height: 12px;background-color: red"></div>
                    {% endif %}
                </td>
                <td>{{ server.create_time }}</td>
                <td>{{ server.creator }}</td>
                <td>
                    <a href="#" data-toggle="modal"  onclick="showmo()">
                        <span class="glyphicon glyphicon-leaf" style="color: rgb(50, 170, 60);font-size: 18px;"></span>
                    </a>
                </td>
            </tr>
        {% endfor %}

    </table>
</div>
<!-- 添加表单 -->
<form method="post" action="" class="form-horizontal" role="form" id="form_data" style="margin: 80px;">
    <div class="modal fade" id="addUserModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">添加服务</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label for="ip" class="col-sm-2 control-label">IP</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="ip" name="ip" value=""/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="port" class="col-sm-2 control-label">端口号</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" name="port" value="" id="port"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="server_addr" class="col-sm-2 control-label">服务地址</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" name="server_addr" value="" id="server_addr"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="server_type" class="col-sm-2 control-label">类别</label>
                            <div class="col-sm-6">
                                <select class="form-control" name="server_type" id="server_type">
                                    <option value="1">开发</option>
                                    <option value="2">测试</option>
                                    <option value="3">UAT</option>
                                    <option value="4">PRO</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="server_remark" class="col-sm-2 control-label">备注</label>
                            <div class="col-sm-6">
                                <textarea  class="form-control"  name="server_remark" id="server_remark"/></textarea>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                    </button>
                    <button type="button" onclick="check_form()" class="btn btn-primary">提交</button><span id="tip"> </span>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
</form>

<!-- 命令行 -->
<div class="modal fade" id="exec" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="padding-top: 6px;padding-bottom: 6px;">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" >xhell</h4>
            </div>
            <div class="modal-body" style="height: 500px;overflow-y: auto">
                <div class="cmddiv"><input type="text" value="" class="cmd" style="border: 0;width: 80%;height: 30px;" onkeypress="exex()"></div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

{% endblock content %}
