<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>主机列表</title>
    <style>
        body{
            font-size: 12px;
        }
        .form_label{
            width: 21%;
        }
    </style>
</head>
<body>
<nav id="menu" class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">Activiti.top</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#caijing" class="page-scroll">财经头条</a></li>
                <li><a href="#about" class="page-scroll">About</a></li>
                <li><a href="#services" class="page-scroll">Services</a></li>
                <li><a href="#portfolio" class="page-scroll">Gallery</a></li>
                <li><a href="#testimonials" class="page-scroll">Testimonials</a></li>
                <li><a href="#team" class="page-scroll">Team</a></li>
                <li><a href="#contact" class="page-scroll">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <form>
        <div class="row-fluid">
            <label class="form_label">
                宿主机：<input type="text" value="" name="hostIp">
            </label>
            <label class="form_label">
                IP：<input type="text" value="" name="ip">
            </label>
            <label>
                <input type="button" value="搜索" onclick="search()">
            </label>
        </div>
    </form>

    <br/><br/>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>宿主机</th>
                <th>IP_TEST_UAT</th>
                <th>系统版本</th>
                <th>用户名</th>
                <th>密码</th>
                <th>vcenter</th>
                <th>虚拟机-TEST-UAT</th>
                <th>主机名-TEST-UAT</th>
                <th>ip</th>
                <th>用户</th>
                <th>新1密码</th>
                <th>环境</th>
                <th>备注</th>
            </tr>
        </thead>
        <tr>
            <td>宿主机</td>
            <td>IP_TEST_UAT</td>
            <td>系统版本</td>
            <td>用户名</td>
            <td>密码</td>
            <td>vcenter</td>
            <td>虚拟机-TEST-UAT</td>
            <td>主机名-TEST-UAT</td>
            <td>ip</td>
            <td>用户</td>
            <td>新1密码</td>
            <td>环境</td>
            <td>备注</td>
        </tr>
        <tr>
            <td>宿主机</td>
            <td>IP_TEST_UAT</td>
            <td>系统版本</td>
            <td>用户名</td>
            <td>密码</td>
            <td>vcenter</td>
            <td>虚拟机-TEST-UAT</td>
            <td>主机名-TEST-UAT</td>
            <td>ip</td>
            <td>用户</td>
            <td>新1密码</td>
            <td>环境</td>
            <td>备注</td>
        </tr>
    </table>
</div>

</body>
</html>