{% extends 'top.html' %}
{% block content %}
<!-- top方法用时统计 -->
<style type="text/css">

</style>
<script type="text/javascript">
    /*function anchors1() {
        var name = $('#name').val();
        if(name!=''){
            $('div[id^=t] a').each(function () {
                var n = $(this).text()
                if(n.indexOf(name)!=-1){
                    $(this).css('color','red');
                }
            });
        }
        return false;
    }*/
</script>
<div class="container">
    <!--<div class="form-inline" id="searchForm">
        <div class="form-group">
            <label for="name">名称</label>
            <input type="text" class="form-control" id="name" >
        </div>
        <label>
            <button class="btn btn-sm" data-toggle="modal"  onclick="anchors1()">搜索</button> &nbsp;&nbsp;
            <button class="btn btn-sm" data-toggle="modal"  onclick="reset1()">重置</button>
        </label>
    </div>-->
    <hr>
    <div id="t1">
        <div class="page-header" >
            <h3>开发</h3>
        </div>
        <div class="row">
            {% for e in websites.t1 %}
                <div class="col-md-3" id="a{{ e.id }}">
                    <a href="{{ e.url }}" target="_blank"><h4>{{ e.name }}</h4></a>
                </div>
            {% endfor %}
        </div>
    </div>
    <div id="t2">
        <div class="page-header" >
            <h3>测试</h3>
        </div>
        <div class="row">
            {% for e in websites.t2 %}
            <div class="col-md-3">
                <a href="{{ e.url }}" target="_blank"><h4>{{ e.name }}</h4></a>
            </div>
            {% endfor %}
        </div>
    </div>
    <div id="t3">
        <div class="page-header" >
            <h3>UAT</h3>
        </div>
        <div class="row">
            {% for e in websites.t3 %}
            <div class="col-md-3">
                <a href="{{ e.url }}" target="_blank"><h4>{{ e.name }}</h4></a>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
